doctype html
html
	head
		title Swimspy: Front Page Version
		meta(charset="utf-8")		
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="/css/style-frontpage.css")
	body
		header 
			h1.phe swimspy frontpage
		br
		div.container
			div.item.item1 Item 1
			div.item.item2 Item 2
			div.item.item3 Item 3
			div.item.item4 Item 4
			






