doctype html
html
	head
		title Swimspy: Front Page Version
		meta(charset="utf-8")		
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="/css/style-frontpage.css")
	body
		div.containerH
			div.item.item1
				header Swimspy		
				div.containerV
					div.item.item2
						heading Main
						p
						|Lorem ipsum dolor sit amet, consectetur 
						|tempor incididunt ut labore et dolore magna 
						br
						br
						|Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						br
						|consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						|cillum dolore eu fugiat nulla pariatur. Excepteur sint cupidatat non
						|proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

					div.item.item3 
						heading Tools
						p sunt in culpa qui officia deserunt mollit anim id est laborum.

			div.item.item4 
				heading About Swimspy
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				
			






