<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Swimspy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header></header>
    <main>
      <h1><span>Performance</span><br><span>Starts </span><br><span>Here!</span></h1><a href="" class="cta">Learn More Now <i class="ion-chevron-right"></i></a>
    </main>
    <div class="overlay">
      <div class="modal">
        <div class="close-btn"><i class="ion-close"></i></div>
        <div class="text-box">
          <p class="lead">Every breath you take count.</p>
          <p>Sign up for be the first one to know about Swimspy!</p>
        </div>
        <div class="graphic"></div>
        <form>
          <input type="text" placeholder="Email Address">
          <input type="submit">
        </form>
      </div>
    </div>
  </body>
</html>