doctype html
html
	head
		meta(charset="utf-8")
		title Swimspy
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
		link(rel="stylesheet", href="/css/style.css")


	body

		header
		main
			h1
				span Performance
				br
				span Starts 
				br
				span Here!

			a.cta(href="") Learn More Now <i class="ion-chevron-right"></i>

		.overlay
			.modal
				.close-btn: <i class="ion-close"></i>

				.text-box
					p.lead Every breath you take count.
					p Sign up for be the first one to know about Swimspy!

				.graphic
				form
					input(type="text", placeholder="Email Address")
					input(type="submit")

