html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans"), local("FiraSans-Regular"), url(http://fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
 @font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url(http://fonts.gstatic.com/s/firasans/v5/DugPdSljmOTocZOR2CItOhampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Mono"), local("FiraMono"), url(http://fonts.gstatic.com/s/firamono/v3/SlRWfq1zeqXiYWAN-lnG-pBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }

body {	
	font-size: 1.125rem;
	line-height: 1.618;
	margin: 0;
	background-image: url(/img/bg1.1.png);
  	background-size: cover;
  	background-position: center;
  	height: 100vh;
  	display: flex;
}

.containerH {
  padding: 10px;
  max-width: cover;
  height: 50vw;
  margin: 0 auto;
  display: flex;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;
  flex-direction: column;

}

.containerV {
  padding: 10px;
  max-width: cover;
  margin: 0 auto;
  display: flex;
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;
  flex-flow: row wrap;
}

.item {
	padding: 10px;
	margin: 10px;
}

.item1 {
  flex: 1;
}

.item2 {
  flex: 4;
}

.item3 {
  flex: 1;

}

.item4 {
  flex: 1;
}



@media (max-width: 85rem){}

@media (max-width: 80rem){}

@media (max-width: 75rem){}

@media (max-width: 70rem){}

@media (max-width: 65rem){}

@media (max-width: 60rem){}

@media (max-width: 55rem){}

@media (max-width: 45rem){}

@media (max-width: 35rem){}

@media (max-width: 25rem){}